NEXT_PUBLIC_APP_URL=http://localhost:3000
# Reemplaza estas con tus claves reales de Supabase
NEXT_PUBLIC_SUPABASE_URL=https://yozowcqyqjdwgrkfeame.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=TU_CLAVE_ANON_AQUI
SUPABASE_SERVICE_ROLE_KEY=TU_CLAVE_SERVICE_ROLE_AQUI

TOKEN_ENCRYPTION_KEY_BASE64=DbroA7f9ZBkZ87wPVK5fJt+68lqdwE1bmt43juVP/v8=
META_CLIENT_ID=866934326451714
META_CLIENT_SECRET=81385fc03bfb8ce3041b64ad5582e1e7
META_GRAPH_API_VERSION=v25.0
META_REDIRECT_URI=http://localhost:3000/api/oauth/meta/callback
META_DEBUG_ACCESS_TOKEN=EAAMUeOCSXgIBRkh59oMPnf3g6UBnhaYQZACVb80ZAGay0KkAW5a0UhlCqhd43QmxTZCw0VUzEkkf3U4CyD1mDsaL9luvs2M8e7ci0Fvvy7RZAel3nI2yt26X73wBdUKMLtFZCaIZBjpSHNZAp08aigWZCYhQp6mxsdEzptzyrZAcrzWF5lTFPb39pQplQjjE1ZCNWGrZBtjdbux
CRON_SECRET=